body {
    margin:0;
    padding:0;
    color:#000;
    background:#589395;
}

p {
  color: #89B9BB;
}

a:hover {
  color: #fff;
}

a:visited {
    color: #C0DDDE;
}

.nav {
  background-color: #1E6366;
  height: 63px;
  width: 100%;
  border: 2px solid black;
  z-index: 1;
}


#title {
  float: left;
  text-align: justify;
  padding-right: 10%;
  color: #C0DDDE;
  font-family: arial;
}

#link1 {
  float: left;
  padding-right: 10%;
}

#link2 {
  float: left;
  padding-right: 10%;
}

#link3 {
  float: left;
}

.container{
width:100%;
border: 2px solid black;
border-left:none;
border-right:none;
text-align:center;
}

.left-col {
  float: left;
  width: 30%;
  border: 2px solid black;
  padding: 10px;
}

.cen-col {
  width: 30%;
  border: 2px solid black;
  display: inline-block;
  padding: 10px;
}

.right-col {
  float: right;
  width: 30%;
  background-color: 000;
  border: 2px solid black;
  padding: 10px;
}

.footer {
  background-color: #1E6366;
  height: 40px;
  width: 100%;
  border: 2px solid black;
  clear: both;
}

#footer_text {
  color: #89B9BB;
  text-align: center;
}